#main {
    /* margin-left: 300px; */
    padding: 2rem;
}

.bi {
    width: 1rem;
    height: 1rem;
}

.page-heading {
    margin: 0 0 2rem;
}
.page-heading h3 {
    font-weight: 700;
}

.card {
    margin-bottom: 2.2rem;
    border: none;
}

.card .card-body {
    padding: 1.5rem;
}
.py-4-5 {
    padding-top: 2rem!important;
    padding-bottom: 2rem!important;
}

.stats-icon.purple {
    background-color: #9694ff;
}
.stats-icon {
    width: 3rem;
    height: 3rem;
    border-radius: .5rem;
    background-color: #000;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats-icon i {
    color: #fff;
    font-size: 1.7rem;
}
[class^="iconly-bold"], [class*=" iconly-bold"] {
    font-family: 'Iconly---Bold' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconly-boldShow:before {
    content: "\e952";
}

.card {
    margin-bottom: 2.2rem;
    border: none;
}

.card .card-header {
    border: none;
}

.card .card-header h4 {
    font-size: 1.2rem;
    font-weight: 700;
}

.card .card-content {
    position: relative;
}

.avatar {
    display: inline-flex;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.avatar.avatar-lg .avatar-content, .avatar.avatar-lg img {
    width: 48px;
    height: 48px;
    font-size: 1.2rem;
}
.avatar img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}