<div [ngSwitch]="router.url">
  <div class="login-page" *ngSwitchCase="'/login'">
    <div class="fadeIn">

    <router-outlet></router-outlet>
      </div>

  </div>
  <div class="login-page" *ngSwitchCase="'/register'">
    <div class="fadeIn">
    <router-outlet></router-outlet>
  </div>

  </div>
  <div *ngSwitchCase="'/profile'">
    <app-navbar></app-navbar>
    <div class="fadeIn">
    <router-outlet></router-outlet>
  </div>

  </div>
  <div *ngSwitchDefault>
    <app-navbar></app-navbar>
    <div class="fadeIn">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>