<div [ngSwitch]="router.url">
  <div class="login-page" *ngSwitchCase="'/login'">
    <div class="fade-in">

      <router-outlet></router-outlet>
    </div>

  </div>
  <div class="login-page" *ngSwitchCase="'/register'">
    <div class="fade-in">
      <router-outlet></router-outlet>
    </div>

  </div>
    <div class="fade-in" *ngSwitchCase="'/api/v1/user/object-counter'">
      <router-outlet></router-outlet>
    </div>

  <div *ngSwitchDefault>
    <!-- <div>
      <app-navbar></app-navbar>
    </div>
    <div class="fadeIn">
      <div class="adminx-container">
        <div class="sidebar">
          <app-sidebar></app-sidebar>
        </div>
          <div class="dashboard-items">
            <router-outlet></router-outlet>
          </div>
    </div>
  </div> -->

  <div class="main">
    <div class="sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="body">
      <div class="top-nav">
        <app-navbar></app-navbar>
      </div>
      <div class="main-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  
  </div>
</div>