<!-- <div class="container mt-3 fade-in">
    <div class="row ">
        <div class="col-md-12 d-flex justify-content-center">
            <div class="col-md-8 mr-auto p-2 video-div">
                <div class="card player align-items-center">
                    <div class="card-body player-body">
                        <video width="100%" height="100%" controls>
                            <source src="../static/video/testvideo.mp4" type="video/mp4">
                          </video>
                    </div>
                </div>
            </div>
            <div class="p-2 report-div">
                <div class="col-md-auto">
                    <div class="card">
                        <div class="card-header">
                            <h4>Reports</h4>
                        </div>
                        <div class="card-body content-column">
                            <div class="d-flex align-items-center">
                            <div class="col-md-6">
                                <h1>100</h1>
                            </div>
                            <div class="col-md-6">
                                <select name="classes" class="select-items" [(ngModel)]="class">
                                    <option disabled>Choose...</option>
                                    <option>Person</option>
                                </select>
                            </div>
                        </div>
                        <div class="col content-row align-items-center justify-content-between mt-4">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" id="detectionStatus" class="custom-control-input">
                                <label for="detectionStatus" class="custom-control-label">Detection Status</label>
                            </div>
                            <div class="content-row">
                                <button class="btn btn-success mx-3 btn-style" (click)="startVideo()"><i class="fa fa-play mx-2"></i>Start</button>
                                <button class="btn btn-danger mx-3 btn-style"><i class="fa fa-stop mx-2"></i>Stop</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->