<section id="pricing" class="pos-r">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-8 col-md-12 ml-auto mr-auto">
        <div class="section-title">
          <div class="title-effect">
            <div class="bar bar-top"></div>
            <div class="bar bar-right"></div>
            <div class="bar bar-bottom"></div>
            <div class="bar bar-left"></div>
          </div>
          <h6>Pricing Plan</h6>
          <h2 class="title">Choose affordable prices</h2>
          <p>Softino Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderi</p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="price-table">
          <div class="price-inside">Starter</div>
          <div class="price-header">
            <div class="price-value">
              <h2><span>$</span>33</h2>
              <span>Monthly Package</span>
            </div>
            <h3 class="price-title">Starter</h3> 
          </div>
          <a class="btn btn-theme btn-circle my-4" (click)="purchase('basic')" data-text="Purchase Now"> <span>P</span><span>u</span><span>r</span><span>c</span><span>h</span><span>a</span><span>s</span><span>e</span>
            <span> </span><span>N</span><span>o</span><span>w</span>
          </a>
          <div class="price-list">
            <ul class="list-unstyled">
              <li>15 Analytics Compaign</li>
              <li>Unlimited Site licenses</li>
              <li>1 Database</li>
              <li>10 Free Optimization</li>
              <li>Html5 + Css3</li>
              <li>24/7 Customer Support</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 md-mt-5 mb-4">
        <div class="price-table active">
          <div class="price-inside">Premium</div>
          <div class="price-header">
            <div class="price-value">
              <h2><span>$</span>55</h2>
              <span>Monthly Package</span>
            </div>
            <h3 class="price-title">Premium</h3> 
          </div>
          <a class="btn btn-theme btn-circle my-4" (click)="purchase('premium')" data-text="Purchase Now"> <span>P</span><span>u</span><span>r</span><span>c</span><span>h</span><span>a</span><span>s</span><span>e</span>
            <span> </span><span>N</span><span>o</span><span>w</span>
          </a>
          <div class="price-list">
            <ul class="list-unstyled">
              <li>15 Analytics Compaign</li>
              <li>Unlimited Site licenses</li>
              <li>1 Database</li>
              <li>10 Free Optimization</li>
              <li>Html5 + Css3</li>
              <li>24/7 Customer Support</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 md-mt-5 mb-4">
        <div class="price-table">
          <div class="price-inside">Professional</div>
          <div class="price-header">
            <div class="price-value">
              <h2><span>$</span>99</h2>
              <span>Monthly Package</span>
            </div>
            <h3 class="price-title">Professional</h3> 
          </div>
          <a class="btn btn-theme btn-circle my-4" (click)="purchase('professional')" data-text="Purchase Now"> <span>P</span><span>u</span><span>r</span><span>c</span><span>h</span><span>a</span><span>s</span><span>e</span>
            <span> </span><span>N</span><span>o</span><span>w</span>
          </a>
          <div class="price-list">
            <ul class="list-unstyled">
              <li>15 Analytics Compaign</li>
              <li>Unlimited Site licenses</li>
              <li>1 Database</li>
              <li>10 Free Optimization</li>
              <li>Html5 + Css3</li>
              <li>24/7 Customer Support</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>