.align-center {
  width: 30%;
}

.display-image {
  padding: 0;
  overflow: hidden;
  max-width: 350px;
  margin: 5px;
}

.display-image img {
  width: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: all 4s ease;
  -moz-transition: all 4s ease;
  -o-transition: all 4s ease;
  -ms-transition: all 4s ease;
  transition: all 4s ease;
}

.ver_mas {
  background-color: #feb66c;
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  transform: translate(0px, 70px);
  -webkit-transform: translate(0px, 70px);
  -moz-transform: translate(0px, 70px);
  -o-transform: translate(0px, 70px);
  -ms-transform: translate(0px, 70px);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.ver_mas button {
  font-size: 35px;
  color: #fff;
  position: relative;
  margin: 0 auto;
  width: 50%;
  background: none;
  border: none;
  cursor: pointer;
}


.display-image:hover .ver_mas {
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  opacity: 1;
}



.color-class {
  background-color: rgb(221, 221, 221);
  height: 100%;
}


.upload-div {
  min-height: 400px;
  height: 100%;
  width: 100%;
}

.overflow {
  overflow: scroll;
  overflow-x: hidden;
}

.content {
  position: absolute;
  top: 55%;
  left: 40%;
}

.cs-sel {
  position: relative;
  top: 5%;
}

.cs-btn {
  top: 10%;
  position: relative;
}

.cs-drop {
  position: relative;
  top: 10%;
}

.fileover {
  background-color: rgb(243, 243, 243);
  transform: scale(1.03);
  color: white;
}

.card:hover{
	transform: none;
}

.card{
  cursor:unset;
}


.bg-custom{
  background-color:#f2f5ff;
}

.min-dimensions{
  min-height: 480px;
}

.card-custom{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px 20px;
}

.pd-0{
  padding: 0;
}

.overlay{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 0;
}

.file-upload {
  opacity: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.upload {
  color: #6c757d !important;
}

.custom-border{
  border: 2px solid #304ffe;
  border-radius: 6px;
}

.card:hover{
  box-shadow: unset;
}

.h-90{
  height:90px;
}

.font-40{
  font-size: 35px;
}

.custom-select{
  width: 20%;
  height: 50px;
  border-radius: 20px;
}

.btn{
  height:45px;
  width:50%;
}