<!-- <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav text-center">
      <div class="sidebar-header">
      <div class="sidebar-brand">
        <a href="#">Brand</a></div></div>
      <li [class.active]="router.url == '/'" ><a routerLink="/"><i class="fa fa-home"></i></a></li>
      <li [class.active]="router.url == '/upload'" ><a routerLink="/upload"><i class="fa fa-upload"></i></a></li>
      <li [class.active]="router.url == '/history'"><a routerLink="/history"><i class="fa fa-history"></i></a></li>
     </ul>
 </nav>

  -->

  <div class="container">
    <div class="hamburguer-menu" [class.change]='viewMode' (click)="viewMode = !viewMode">
      <span class="line first-line"></span>
      <span class="line second-line"></span>
    </div>
    <div class="icon-menu">
      <ul class="list-view">
        <li [class.active]="router.url == '/'" ><a routerLink="/"><i class="fa fa-home"></i></a></li>
        <li [class.active]="router.url == '/upload'" ><a routerLink="/upload"><i class="fa fa-upload"></i></a></li>
        <li [class.active]="router.url == '/history'"><a routerLink="/history"><i class="fa fa-history"></i></a></li>
        <li [class.active]="router.url == '/video-detection'"><a routerLink="/video-detection"><i class="fa fa-video-camera"></i></a></li>

      </ul>
    </div>
    <div class="menu-expanded">
      <ul class="list-view">
        <li [class.active]="router.url == '/'" ><a routerLink="/">Work</a></li>
        <li [class.active]="router.url == '/upload'"><a routerLink="/upload">Home</a></li>
        <li [class.active]="router.url == '/history'"><a routerLink="/history">Contact</a></li>
      </ul>
    </div>
  </div>