/* #sidebar-wrapper {
    z-index: 1000;
    width: 5%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  #sidebar-wrapper::-webkit-scrollbar {
  display: none;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    width: 220px;
  }
  
  #page-content-wrapper {
    width: 100%;
    padding-top: 70px;
  }
  
  #wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
  }

  .navbar {
  padding: 0;
  }
  
  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .sidebar-nav li {
    position: relative; 
    line-height: 80px;
    display: inline-block;
    width: 100%;
  }
  
  .sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;
  
  }
  .sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
  }
  .sidebar-nav li:nth-child(5n+1):before {
    background-color: #ec1b5a;   
  }
  .sidebar-nav li:nth-child(5n+2):before {
    background-color: #79aefe;   
  }
  .sidebar-nav li:nth-child(5n+3):before {
    background-color: #314190;   
  }
  .sidebar-nav li:nth-child(5n+4):before {
    background-color: #279636;   
  }
  .sidebar-nav li:nth-child(5n+5):before {
    background-color: #7d5d81;   
  }
  
  .sidebar-nav li:hover:before,
  .sidebar-nav li.open:hover:before{
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;
  
  }
  
  .active{
    background-color: #28a745;
  }
  
  .sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    font-size:30px;
  }
  
  .sidebar-nav li a:hover,
  .sidebar-nav li a:active,
  .sidebar-nav li a:focus,
  .sidebar-nav li.open a:hover,
  .sidebar-nav li.open a:active,
  .sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
  }
  .sidebar-header {
    text-align: center;
    font-size: 20px;
    position: relative;
    width: 100%;
    display: inline-block;
  }
  .sidebar-brand {
    height: 65px;
    position: relative;
    background:#212531;
    background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
   padding-top: 1em;
  }
  .sidebar-brand a {
    color: #ddd;
  }
  .sidebar-brand a:hover {
    color: #fff;
    text-decoration: none;
  }
  .dropdown-header {
    text-align: center;
    font-size: 1em;
    color: #ddd;
    background:#212531;
    background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
  }
  .sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
  }
  .dropdown-menu.show {
    top: 0;
  }
  
  .hamburger {
  position: fixed;
  top: 20px;  
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
  }
  .hamburger:hover,
  .hamburger:focus,
  .hamburger:active {
  outline: none;
  }
  .hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
  }
  .hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
  }
  
  .hamburger.is-closed .hamb-top,
  .hamburger.is-closed .hamb-middle,
  .hamburger.is-closed .hamb-bottom,
  .hamburger.is-open .hamb-top,
  .hamburger.is-open .hamb-middle,
  .hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
  }
  .hamburger.is-closed .hamb-top,
  .hamburger.is-closed .hamb-middle,
  .hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
  }
  .hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
  }
  .hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
  }
  .hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
  }
  
  .hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
  }
  .hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
  }
  .hamburger.is-open .hamb-top,
  .hamburger.is-open .hamb-middle,
  .hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
  }
  .hamburger.is-open .hamb-top,
  .hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
  }
  .hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
  }
  .hamburger.is-open .hamb-middle { display: none; }
  .hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
  }
  .hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
  }
  .hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
  }
  

  .overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
  }
  
   li:nth-child(5n+3) .active{
    background-color: red
  } */






  .container {
    height: 100%;
    width: 100%;
    background: #343a40;
    font-family: "Poppins", sans-serif;
    position: relative;
  }
  
  .menu-expanded {
    max-width: 0px;
    opacity: 0;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    transition: all 0.4s ease 0s;
    overflow: hidden;
  }
  
  .menu-expanded ul {
    margin: 0;
    list-style: none;
    font-size: 32px;
    text-align: left;
    line-height: 2em;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  .hamburguer-menu {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    position: relative;
    z-index: 10000;
    cursor: pointer;
  }
  
  .line {
    display: block;
    width: 30px;
    background: #fff;
    height: 2px;
    margin: 5px 5px;
    transition: all 0.4s ease;
    z-index: 1;
  }
  
  input {
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    z-index: 2;
  }
  
  .change .first-line {
    transform: rotate(45deg) translate(0px, 0px);
  }
  
  .change .second-line {
    transform: rotate(-45deg) translate(8px, -8px);
  }
  
  .change ~ .menu-expanded {
    max-width: 400px;
    opacity: 1;
  }
  
  @media (max-width: 400px) {
    .menu-expanded {
      width: 100%;
    }
  }

  .icon-menu ul li{
    text-decoration: none;
    list-style: none;
    font-size:32px;
    line-height:3em;
  }

  .icon-menu ul{
    padding-left: 0px;
    text-align:center;
  }
  
  .change ~ .icon-menu{
    display:none;
  }


  