<div class="container">

    <div class="row align-box-center" >
        <div class="col-md-4">
            <div class="col-xl-8 text-center">
                <div class="card card-stats mb-4 mb-xl-0" [class.active]="viewMode == 'single'">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <a  type="button"  (click)="viewMode = 'single'; presentMode()">
                                <div class="col">
                                    <h5 class="card-title text-uppercase mb-0">
                                        Single Image Processing
                                    </h5>
                                </div>
                            </a>
                            <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-chart-bar"></i>
                    </div>
                </div>
                        </div>
                        <!-- <p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                            <span class="text-nowrap">Since last month</span>
                        </p> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 ml-auto">
            <div class="col-xl-8 text-center">
                <div class="card card-stats mb-4 mb-xl-0" [class.active]="viewMode == 'multiple'">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <a type="button" (click)="viewMode = 'multiple';presentMode()">
                                <div class="col">
                                    <h5 class="card-title text-uppercase mb-0">
                                        Batch Image Processing
                                    </h5>
                                </div>
                            </a>
                            <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-chart-bar"></i>
                    </div>
                </div>
                        </div>
                        <!-- <p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                            <span class="text-nowrap">Since last month</span>
                        </p> -->
                    </div>
                </div>
            </div>
        </div>
      </div>
</div>
<!-- <div class="row justify-content-center align-box-center">
    <div class="col-lg-7">
        <div class="header pb-8 pt-5 pt-md-8">
            <div class="container-fluid">
                <div class="header-body">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 text-center">
                            <div class="card card-stats mb-4 mb-xl-0">
                                <div class="card-body">
                                    <div class="row justify-content-center">
                                        <a routerLink="singledetector">
                                            <div class="col">
                                                <h5 class="card-title text-uppercase mb-0">
                                                    Single Detector
                                                </h5>
                                            </div>
                                        </a>
                                        <div class="col-auto">
                                <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                    <i class="fas fa-chart-bar"></i>
                                </div>
                            </div>
                                    </div>
                                    <p class="mt-3 mb-0 text-muted text-sm">
                                        <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                        <span class="text-nowrap">Since last month</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8 text-center">
                            <div class="card card-stats mb-4 mb-xl-0">
                                <div class="card-body">
                                    <div class="row justify-content-center">
                                        <a routerLink="multidetector">
                                            <div class="col">
                                                <h5 class="card-title text-uppercase mb-0">
                                                    Batch Detector
                                                </h5>
                                            </div>
                                        </a>
                                        <div class="col-auto">
                                <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                    <i class="fas fa-chart-pie"></i>
                                </div>
                            </div>
                                    </div>
                                    <p class="mt-3 mb-0 text-muted text-sm">
                                        <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i>
                                            3.48%</span>
                                        <span class="text-nowrap">Since last week</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->