<div class="container">
    <div class="row align-box-center" >
        <div class="col-md-4">
            <div class="col-xl-8 text-center" (click)="viewMode = 'single';presentMode()">
                <div class="card card-stats mb-4 mb-xl-0" [class.active]="viewMode == 'single'">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <a  type="button"  (click)="viewMode = 'single'; presentMode()">
                                <div class="col">
                                    <h5 class="card-title text-uppercase mb-0">
                                        Single Image Processing
                                    </h5>
                                </div>
                            </a>
                            <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-chart-bar"></i>
                    </div>
                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 ml-auto">
            <div class="col-xl-8 text-center" (click)="viewMode = 'multiple';presentMode()">
                <div class="card card-stats mb-4 mb-xl-0" [class.active]="viewMode == 'multiple'">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <a type="button" (click)="viewMode = 'multiple';presentMode()">
                                <div class="col">
                                    <h5 class="card-title text-uppercase mb-0">
                                        Batch Image Processing
                                    </h5>
                                </div>
                            </a>
                            <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-chart-bar"></i>
                    </div>
                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
</div>