.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px
}

.card {
    margin-left: 10px;
    margin-right: 10px;
    transform:none;
}

svg{
    width:100% !important;
}

.container{
    max-width: 90%;
}

.align-items{
    justify-content:space-between;
}

.row .card{
    box-shadow: none;
    border: none
}

.flex-row{
    background-color: white;
}

/* .chart{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
} */

.card{
    cursor: unset;
}