<div class="content-wrapper" style="overflow: hidden; padding-left: 5px">
  <div class="row">
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div id="chart">
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [yaxis]="chartOptions.yaxis"
              [xaxis]="chartOptions.xaxis" [labels]="chartOptions.labels" [stroke]="chartOptions.stroke"
              [title]="chartOptions.title" [dataLabels]="chartOptions.dataLabels" [fill]="chartOptions.fill"
              [tooltip]="chartOptions.tooltip"></apx-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-header" style="width: 100%; display:flex; align-items:center;">
        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
          <h3 class="font-weight-bold">Periodical Selector</h3>
        </div>
      </div>

      <div class="col-md-12 mt-2 mx-auto p-4" style="border: none !important; top:10%">
        <div class="card-body">
          <div class="container">
            <form (submit)="getAnalysis()">
              <div class="controls">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="object_name">Object Type</label>
                      <select class="form-control form-control-md align-center" id="object_name" name="category" [(ngModel)]="category">
                        <option disabled>Choose...</option>
                        <option>Pipe</option>
                        <option>Person</option>
                        <option>Cars</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="from_date">Start Date</label>
                      <input id="start_date" type="date" name="start_date" [(ngModel)]="startDate" class="form-control"
                        placeholder="Starting Date" required="required"
                        data-error="Start Date is required." />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="end_date">End Date</label>
                      <input type="date" class="form-control" id="end_date" name="end_date" [(ngModel)]="endDate" required data-error="Start Date is required.">
                    </div>
                  </div>
                </div>
                <div class="row">
                  
                  <div class="col-md-12">
                    <input type="submit" class="btn btn-success btn-send pt-2 btn-block" value="Get Analytics" />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>