<div class="wrapper">
    <div class="inner">
        <img src="../../../../../static/images/image-1.png" alt="" class="image-1">
        <form action="">
            <h3>New Account?</h3>
            <div class="form-holder">
                <span class="fa fa-user"></span>
                <input type="text" class="form-control" placeholder="Username">
            </div>
            <div class="form-holder">
                <span class="fa fa-phone"></span>
                <input type="text" class="form-control" placeholder="Phone Number">
            </div>
            <div class="form-holder">
                <span class="fa fa-envelope"></span>
                <input type="text" class="form-control" placeholder="Mail">
            </div>
            <div class="form-holder">
                <span class="fa fa-lock"></span>
                <input type="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-holder">
                <span class="fa fa-lock"></span>
                <input type="password" class="form-control" placeholder="Confirm Password">
            </div>
            <button>
                <span>Next<i class="fa fa-arrow-circle-right"></i></span>
            </button>
        </form>
        <img src="../../../../../static/images/image-2.png" alt="" class="image-2">
    </div>
    
</div>