<div class="container mt-5">
    <form (submit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="transform: none;">
                    <div class="card-header">
                        <h1>Upload Image</h1>
                        <select name="class" [(ngModel)]="class">
                            <option disabled>Choose...</option>
                            <option>Person</option>
                        </select>
                    </div>
                    <div class="card-body">
                        <input type="file" multiple="False" (change)="onChange($event)">
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>
</div>