<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row graph-row">
            <div class="card p-2 flex-grow-1">
                <div class="card-body">
                    graph
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="filter">
                        <form action="">
                            <div class="form-group">
                                <label for="category">Select Category</label>
                                <select name="" id="" class="form-control">
                                    <option>One</option>
                                    <option>Two</option>
                                </select>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <select name="" id="" class="form-control">
                                        <option>Start Date</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <select name="" id="" class="form-control">
                                        <option>End Date</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="category">Graph Type</label>
                                <select name="" id="" class="form-control">
                                    <option>Bar</option>
                                    <option>Line</option>
                                </select>
                            </div>
                            <div class="form-group text-center">
                                <button class="btn btn-primary">Filter</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>