<app-categorieselector></app-categorieselector>
<!-- <div class="container mt-5" style="max-width: 80%" [ngSwitch]='viewMode'>
    <div class="fade-in" *ngSwitchCase="'single'">

        <div class="col-md-12 text-center" *ngFor="let data of singleDetectionHistory">
            <div class="row justify-content-between">
                <div class="heading">
                    <h2>Single Detection</h2>
                </div>
                <div class="action-button">
                    <button class="btn btn-success">Export</button>
                </div>
            </div>
            <div class="card mt-5">
                <div class="card-header">
                    <div class="row text-center font-weight-bold">
                        <div class="col-sm">
                            SL.No
                        </div>
                        <div class="col-sm">
                            Image Name
                        </div>
                        <div class="col-sm">
                            Object
                        </div>
                        <div class="col-sm">
                            Count
                        </div>
                        <div class="col-sm">
                            Date
                        </div>
                        <div class="col-sm">
                            Action
                        </div>
                    </div>
                </div>
                <div class="card-body" style="border-top: .2px solid #d2d2d2 !important; cursor: pointer;"
                    *ngFor="let values of data | paginate : {id:'single',itemsPerPage:perPageItem, currentPage:singleDetectionPage}; let i = index;">
                    <div class="row text-center d-flex align-items-center mt-3 mb-3">
                        <div class="col-sm">
                            {{i+1}}
                        </div>
                        <div class="col-sm">
                            {{values.uploadedName}}
                        </div>
                        <div class="col-sm">
                            {{values.category}}
                        </div>
                        <div class="col-sm">
                            {{values.count}}
                        </div>
                        <div class="col-sm">
                            {{values.uploaded_at}}
                        </div>
                        <div class="col-sm">
                            <a type="button" data-toggle="modal" data-target="#exampleModalCenter" class="view"
                                title="View"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="hint-text" *ngIf="singleDetectionfilesLength > perPageItem">Showing
                        <b>{{perPageItem}}</b> out of <b>{{singleDetectionfilesLength}}</b> entries
                    </div>
                    <div class="hint-text" *ngIf="perPageItem > singleDetectionfilesLength">Showing
                        <b>{{singleDetectionfilesLength}}</b> out of <b>{{singleDetectionfilesLength}}</b> entries
                    </div>
                    <ul class="pagination">
                        <pagination-controls (pageChange)="singleDetectionPage = $event" id="single">
                        </pagination-controls>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="fade-in" *ngSwitchCase="'multiple'">

        <div class="col-md-12 d-flex flex-column" *ngFor="let data of multiDetectionBatch">
            <div class="row justify-content-between">
                <div class="heading">
                    <h2>Batch Detection</h2>
                </div>
                <div class="action-button">
                    <button class="btn btn-success">Export</button>
                </div>
            </div>
            <div class="card mt-5" style="margin-top:20px">
                <div class="card-header">
                    <div class="row text-center font-weight-bold">
                        <div class="col-sm">
                            SL.No
                        </div>
                        <div class="col-sm">
                            Name
                        </div>
                        <div class="col-sm">
                            Object
                        </div>
                        <div class="col-sm">
                            Total Count
                        </div>
                        <div class="col-sm">
                            Total File Count
                        </div>
                        <div class="col-sm">
                            Date
                        </div>
                        <div class="col-sm">
                            Action
                        </div>
                    </div>
                </div>
                <div class="card-body" style="border-top: .2px solid #d2d2d2 !important;"
                    *ngFor="let values of data | paginate : {id:'multiple',itemsPerPage:perPageItem, currentPage:multiDetectionPage}; let i = index;">
                    <div class="row text-center d-flex align-items-center mt-3 mb-3">
                        <div class="col-sm">
                            {{i+1}}
                        </div>
                        <div class="col-sm">
                            {{values.batchName}}
                        </div>
                        <div class="col-sm">
                            {{values.batchObjectName}}
                        </div>
                        <div class="col-sm">
                            {{values.batchItemsTotalCount}}
                        </div>

                        <div class="col-sm">
                            {{values.batchFileCount}}
                        </div>
                        <div class="col-sm">
                            {{values.created}}
                        </div>
                        <div class="col-sm">
                            <a type="button" (click)="showChild($event,values.batchName)" class="view" id="dropButton" title="View"><i
                                    class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div id="details_{{i+1}}" class="batch_file_child" style="display:none">
                            <div class="card-header">
                                <div class="row text-center font-weight-bold">
                                    <div class="col-sm">
                                        SL.No
                                    </div>
                                    <div class="col-sm">
                                        Name
                                    </div>
                                    <div class="col-sm">
                                        Object
                                    </div>
                                    <div class="col-sm">
                                        Total Count
                                    </div>
                                    <div class="col-sm">
                                        Date
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" *ngFor="let data of multiDetectionFiles">
                                <div class="row text-center d-flex align-items-center mt-3 mb-3 border-shadow" *ngFor="let values of data; let i = index">
                                    <div class="col-sm">
                                        {{i+1}}
                                    </div>
                                    <div class="col-sm">
                                        {{values.fileName}}
                                    </div>
                                    <div class="col-sm">
                                        {{values.ObjectType}}
                                    </div>
                                    <div class="col-sm">
                                        {{values.ObjectCount}}
                                    </div>
        
                                    <div class="col-sm">
                                        {{values.created}}
                                    </div>
                                </div>
                            </div>
                    
                    </div>
        
    
                </div>
                <div class="card-footer">
                    <div class="hint-text" *ngIf="multiDetectionfilesLength > perPageItem">Showing
                        <b>{{perPageItem}}</b> out of <b>{{multiDetectionfilesLength}}</b> entries
                    </div>
                    <div class="hint-text" *ngIf="perPageItem > multiDetectionfilesLength">Showing
                        <b>{{multiDetectionfilesLength}}</b> out of <b>{{multiDetectionfilesLength}}</b> entries
                    </div>
                    <ul class="pagination">
                        <pagination-controls (pageChange)="multiDetectionPage = $event" id="multiple">
                        </pagination-controls>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div> -->

<div class="container mt-5" style="max-width:80%" [ngSwitch]='viewMode'>
    <div class="fade-in" *ngSwitchCase="'single'">
        <div class="row">
            <div class="col-xl-12 d-flex align-items-center col-style">
                <div class="p-2 flex-grow-1">
                    <h2>{{viewMode | titlecase}} Detection</h2>
                </div>
            </div>
        </div>
        <div class="row my-5" *ngFor="let data of singleDetectionHistory">
            <div class="col-xl-12 d-flex text-center col-style align-items-center h5">
                <div class="col">Sl.No</div>
                <div class="col">Name</div>
                <div class="col">Object</div>
                <div class="col">Total Count</div>
                <div class="col">Date</div>
                <div class="col">Actions</div>
            </div>
            <div class="col-xl-12 d-flex text-center align-items-center h6 col-style" 
            *ngFor="let values of data | paginate : {id:'single',itemsPerPage:perPageItem, currentPage:singleDetectionPage}; let i = index;">
                <div class="col">{{i+1}}</div>
                <div class="col file-name">{{values.uploadedName }}</div>
                <div class="col">{{values.category}}</div>
                <div class="col">{{values.count}}</div>
                <div class="col">{{values.uploaded_at}}</div>
                <div class="col"><i class="fa fa-eye"></i></div>
            </div>
            <div class="col-xl-12 float-right">
                <ul class="pagination">
                    <pagination-controls (pageChange)="singleDetectionPage = $event" id="single">
                    </pagination-controls>
                </ul>
            </div>
        </div>
    </div>

    <div class="fade-in" *ngSwitchCase="'multiple'">
        <div class="row">
            <div class="col-xl-12 d-flex align-items-center col-style">
                <div class="p-2 flex-grow-1">
                    <h2>{{viewMode | titlecase}} Detection</h2>
                </div>
                <div class="p-2">
                    <button class="btn btn-outline-success mx-2" (click)="generateCSV()">
                       <i class="fa fa-file-excel-o mx-2" aria-hidden="true"></i>
                       Export
                    </button>
                    <!-- <button class="btn btn-outline-primary mx-2"><i class="fa fa-filter mx-2"></i>Filter</button> -->
                </div>
            </div>
        </div>
        <div class="row my-5" *ngFor="let data of multiDetectionBatch">
            <div class="col-xl-12 d-flex text-center col-style align-items-center h5">
                <div class="col">Sl.No</div>
                <div class="col">Name</div>
                <div class="col">Object</div>
                <div class="col">Total Count</div>
                <div class="col">Total File Count</div>
                <div class="col">Date</div>
                <div class="col">Actions</div>
            </div>
            <div class="col-xl-12 d-flex text-center align-items-center h6 col-style" 
            *ngFor="let values of data | paginate : {id:'multiple',itemsPerPage:perPageItem, currentPage:multiDetectionPage}; let i = index;">
                <input type="checkbox" value="{{values.batchName}}" (change)="boxSelected($event)">
                <div class="col">{{i+1}}</div>
                <div class="col">{{values.batchName}}</div>
                <div class="col">{{values.batchObjectName}}</div>
                <div class="col">{{values.batchItemsTotalCount}}</div>
                <div class="col">{{values.batchFileCount}}</div>
                <div class="col">{{values.created}}</div>
                <div class="col"><i class="fa fa-eye"></i></div>
            </div>
            <div class="col-xl-12">
                <div class="row">

                </div>
            </div>
            <div class="col-xl-12 float-right">
                <ul class="pagination">
                    <pagination-controls (pageChange)="multiDetectionPage = $event" id="multiple">
                    </pagination-controls>
                </ul>
            </div>
        </div>
    </div>
</div>
