<div class="container" style="max-width: 90%">
    <div class="row">
        <div class="col-md-6" *ngFor="let data of singleDetectionHistory">
            <div class="text-center">
                <h2>Single Detection</h2>
            </div>
            <div class="table-responsive">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2>Customer <b>Details</b></h2>
                            </div>
                            <div class="col-sm-4">
                                <div class="search-box">
                                    <button class="btn btn-primary btn-sm">Export Report</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Image Name<i class="fa fa-sort"></i></th>
                                <th>Object</th>
                                <th>Count<i class="fa fa-sort"></i></th>
                                <th>Date</th>
                                <th>Action <i class="fa fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let values of data | paginate : {id:'first',itemsPerPage:perPageItem, currentPage:singleDetectionPage}; let i = index;"
                                [style.background-color]="i%2==1 ? 'white' : ''">
                                <td>{{i+1}}</td>
                                <td>{{values.uploadedName}}</td>
                                <td>{{values.category}}</td>
                                <td>{{values.count}}</td>
                                <td>{{values.uploaded_at}}</td>
                                <td class="text-center">
                                    <a href="#" class="view" title="View" data-toggle="tooltip"><i
                                            class="fa fa-eye"></i></a>
                                    <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i
                                            class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="clearfix">
                        <div class="hint-text">Showing <b>5</b> out of <b>{{singleDetectionfilesLength}}</b> entries
                        </div>
                        <ul class="pagination">
                            <pagination-controls (pageChange)="singleDetectionPage = $event" id='first'></pagination-controls>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6" *ngFor="let data of multiDetectionHistory">
            <div class="text-center">
                <h2>Batch Detection</h2>
            </div>
            <div class="table-responsive">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2>Customer <b>Details</b></h2>
                            </div>
                            <div class="col-sm-4">
                                <div class="search-box">
                                    <button class="btn btn-primary btn-sm">Export Report</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Image Name<i class="fa fa-sort"></i></th>
                                <th>Object</th>
                                <th>Count<i class="fa fa-sort"></i></th>
                                <th>Date</th>
                                <th>Action <i class="fa fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let values of data | paginate : {id:'second',itemsPerPage:perPageItem, currentPage:multiDetectionPage}; let i = index;"
                                [style.background-color]="i%2==1 ? 'white' : ''">
                                <td>{{i+1}}</td>
                                <td>{{values.uploadedName}}</td>
                                <td>{{values.category}}</td>
                                <td>{{values.count}}</td>
                                <td>{{values.uploaded_at}}</td>
                                <td>
                                    <a href="#" class="view" title="View" data-toggle="tooltip"><i
                                            class="fa fa-eye"></i></a>
                                    <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i
                                            class="fa fa-trash-o"></i></a>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="clearfix">
                        <div class="hint-text">Showing <b>5</b> out of <b>{{multiDetectionfilesLength}}</b> entries
                        </div>
                        <ul class="pagination">
                            <pagination-controls (pageChange)="multiDetectionPage = $event" id="second"></pagination-controls>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>